/* .login {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 30px;
    border-style: inset;
} */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    box-shadow: rgba(45, 45, 184, 0.474) 0px 30px 60px -12px inset, rgba(45, 45, 184, 0.474) 0px 18px 36px -18px inset;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type='email'],
input[type='password'] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-input {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.link-btn {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 14px;
    cursor: pointer;
}
